.navigation{
    font-size: 0.9em;
    position: fixed;
    top: 0;
    width: 100%;
    background: #e4e5e6;
    opacity: 0.9;
}

.style{
    border-radius: 30px;
    background-color: lightgreen;
}


li {
    padding: 20px;
    display: inline;
}

a{
    color:black;
    font-weight: 900;
}

