.howtoDetails{
    background-color: black;
    position: relative;
    opacity: 0.97;
}

.d_container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    isolation: isolate;
}
.portion{
    padding: 20px;
    margin: 80px;
    margin-top: 100px;
    color: white;
    font-size: 1.5em;
    margin-right: 20px;
}

.image{
    padding: 20px;
    margin: 60px;
}

img{
    border: 10px solid #333333;
    border-radius: 138px;
}

#link{
    color: blue;
    font-weight: 100;
    font-size: 0.7em;
}

a{
    text-decoration: none;
}

.particles{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    overflow: hidden;
    z-index: -1;
}