body{
  font-family: 'Raleway', sans-serif;
  margin: 0;
}

.horizontal_rule{
  margin: 0;
}

.container{
  background-position: center;
  background-size: cover;
  overflow: hidden;
  min-height: 500px;
}
